/* Diseño del cuerpo */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    overflow-x: hidden;
  }
  
  /* Barra lateral */
  .sidebar-container {
    width: 250px;
    background-color: #34495e;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    transform: translateX(-100%); /* Inicialmente oculta */
  }
  
  .sidebar-container.open {
    transform: translateX(0); /* Desliza la barra lateral hacia la vista */
  }
  
  .sidebar-container a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    background-color: #2c3e50;
    border-radius: 5px;
  }
  
  .sidebar-container a:hover {
    background-color: #1abc9c;
  }
  
  /* Botón de cierre en la barra lateral */
  .btn-close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  /* Botón para abrir la barra lateral */
  .btn-toggle-sidebar {
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: #1abc9c;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1100;
    border-radius: 5px;
  }
  
  /* Contenido principal */
  .main-content {
    margin-left: 0;
    padding: 20px;
    box-sizing: border-box;
    transition: margin-left 0.3s ease;
    width: 100%;
  }
  